.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: box-shadow 1s, transform 1s;
    transition-delay: 1s, 0s;
}

.citacao-bio:hover,
.citacao-bio:focus{
    transition-delay: 0s, 1s;
}

/*.petrobras {
    float: left;
    margin-left: 0;
}

.fiat {
    float: right;
    margin-right: 0;
}*/

.citacao-bio:nth-of-type(even){
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(odd){
    float: right;
    margin-right: 0;
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus{
    position: relative;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.75);
    z-index: 9999;
    transform: scale(1.2) rotateZ(-5deg);
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus{
    position: relative;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.75);
    z-index: 9999;
    transform: scale(1.2) rotateZ(5deg);
}

.container > p::first-letter{
    font-size: 2em;
}

.citacao-bio::before{
    content: '“';
    font-size: 10em;
    color: #bbbbbb;
    position: absolute;
    line-height: .8;
}

.citacao-bio > p{
    position: relative;
}

thead th {
    background-color: #3C1D3D;

}

tbody th{
    background-color: #851944;
 }

th{
    color: #FFF;
    font-weight: bold;

}

td{
    background-color: #EEE;
    color: inherit;
}

table{
    border-collapse: separate;
    border-spacing: 0.25em;
    margin: 1em 0;
}

th, td{
    padding: 1em;
}

table [colspan]{
    text-align: center;
    font-style: italic;
}

table [rowspan]{
    vertical-align: middle;
}

body{
    display: flex;
    flex-wrap: wrap;
}